:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color-iris: #4d5ae5;
  --primary-color-slate: #434455;
  --second-color-navy-blue: #2e2f42;
  --hover-color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-green: #31d0aa;
  --color-navy-blue-modal: #2e2f42;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-dairy: #fcfcfc;
}
.body {
  background-color: var(--color-white);
  color: var(--primary-color-slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.list {
  list-style: none;
}
/*? Header section  */
/* !Logo */
.logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color-iris);
}
.logo-right {
  color: var(--color-grey);
}
/* !Menu-nav */
.menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-grey);
}
.link:hover,
.link:focus {
  color: var(--hover-color-ocean);
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-slate);
}
.address:hover,
.address:focus {
  color: var(--hover-color-ocean);
}

/* ?Hero section */
.hero {
  background-color: var(--second-color-navy-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
}
.hero-button:is(:hover, :focus) {
  color: var(--color-white);
  background-color: var(--hover-color-ocean);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--accent-color-iris);
  color: var(--color-white);
}
/* ?About section  */
.subtitle-about {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-grey);
}

.benefits-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-grey);
}

/* ?Team section  */
.team {
  background-color: #f4f4fd;
}
.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-grey);
}
.team-item {
  background-color: var(--color-white);
}
.subtitle-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.profession-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: var(--primary-color-slate);
}

/* ?Footer */
.footer {
  background-color: var(--second-color-navy-blue);
}
.logo-left link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-right {
  color: var(--color-cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-cloud);
}

/* ?Portfolio */
/* !Menu filter button */
.filter-button:is(:hover, :focus) {
  color: var(--color-white);
  background-color: var(--hover-color-ocean);
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--accent-color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}
.link {
  text-decoration: none;
}

.project-subtitle,
.subtitle-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-slate);
  text-decoration: none;
}
